{% extends "base.html" %}
{{super()}}

{% block content %}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Oustation Teams.</h2>

                
            </div>
        </div>

        <div class="row">
        <div class="col-lg-2"></div>
        	<div class="col-lg-8 text-center">
        		
        		<h3>Accommodation<h3>

<h4>Bahawalpur House:</h4>

<p style="font-size:1.1em;color:black;Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">The nearest and most comfortable place in the immediate vicinity of the conference venue, Bahawalpur House at Aitchison College has fully furnished, air-conditioned rooms with attached washrooms, and 24 hours access to Internet (Wi-Fi available). All meals will be served at the College Mess. Please note that accommodation here is totally free of cost for all International delegations, however, it is subject to a first come first serve policy. <br/><br/>

All outstation teams have to pay PKR 2000 per delegate for their stay at Bahawalpur House whereas accommodation is free for international teams.<br/><br/></p>


        	</div>
        </div>
        
        
    </div>
</section>

{% endblock %}